body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3f58c6, #663893);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    color:white ;
    border: none;
    text-align: center;
    margin-bottom: 15px;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
}

input::placeholder {
    color: white; /* O el color que quieras */
    opacity: 1;
}
button {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #155ab6;
}

span img{
    position: relative;
    cursor: pointer;
    left: 90px;
    bottom: 50px;
    width: 25px;
}













